# Platform
CONFIG_MACH_XIAOMI=y
CONFIG_MACH_XIAOMI_SDM845=y

# Persistent store
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Touchscreen
CONFIG_INPUT_TOUCHSCREEN=y
# CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE is not set

# Timers subsystem
CONFIG_NO_HZ_IDLE=y

#
# Compile-time checks and compiler options
#
CONFIG_FRAME_WARN=4096
